# Godot 4+
.godot/
*.import
export.cfg
export_presets.cfg

# Binarios y ejecutables
*.exe
*.zip
*.app
*.dmg
*.pdb

# Archivos temporales
*.tmp
*.temp

# Logs
logs/
*.log

# Sistema
.DS_Store
Thumbs.db